In [5]:
import pandas as pd
import sklearn
from sklearn.linear_model import LinearRegression
import numpy as np
from pandas_summary import DataFrameSummary
import pandas_profiling as pp
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegressionCV
from sklearn import preprocessing
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import train_test_split
import random
%matplotlib inline
from IPython.core.debugger import set_trace #!!TODO: remove this

In [4]:
np.random.randint(0, high=5, size=(2,3))

array([[0, 4, 0],
       [2, 1, 4]])

In [106]:
import scipy
S = scipy.sparse.random(3, 4, density=0.35)
tmp = S.A
tmp

array([[0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.41824435, 0.52377017],
       [0.88570544, 0.        , 0.17882353, 0.        ]])

In [50]:
tmp_int = np.ceil(tmp*6)-1
scored_inds = tmp_int >= 0
scored_inds

array([[False,  True, False, False],
       [False, False,  True,  True],
       [False,  True, False, False]])

In [109]:
tmp_int

array([[-1.,  0., -1., -1.],
       [-1., -1.,  2.,  5.],
       [-1.,  5., -1., -1.]])

In [110]:
np.random.rand(2,3)

array([[0.36315619, 0.25742299, 0.88980521],
       [0.83652955, 0.16315537, 0.67623867]])

In [122]:
tmp_int.reshape(12,1)

array([[-1.],
       [ 0.],
       [-1.],
       [-1.],
       [-1.],
       [-1.],
       [ 2.],
       [ 5.],
       [-1.],
       [ 5.],
       [-1.],
       [-1.]])

In [114]:
tmp_int**2

array([[ 1.,  0.,  1.,  1.],
       [ 1.,  1.,  4., 25.],
       [ 1., 25.,  1.,  1.]])

In [66]:
Y = tmp_int
R = tmp_int >= 0
X = np.array([[1,0,2,0], [0,1,0,0], [0,0,0,1]])
print(Y)
print(R)
print(X)

[[-1.  0. -1. -1.]
 [-1. -1.  2.  5.]
 [-1.  5. -1. -1.]]
[[False  True False False]
 [False False  True  True]
 [False  True False False]]
[[1 0 2 0]
 [0 1 0 0]
 [0 0 0 1]]

In [112]:
np.array([1,2,3,4,5,6]).reshape(2,3).sum()

21

In [108]:
zz = (0,5)
zz[-1]

5

In [67]:
print(X*R)

[[0 0 0 0]
 [0 0 0 0]
 [0 0 0 0]]

In [60]:
np.mean(Y*R, axis=1)[:, np.newaxis]

array([[0.  ],
       [1.75],
       [1.25]])

In [62]:
Y_minus_products_means = Y-np.mean(Y*R, axis=1)[:, np.newaxis]
Y_minus_products_means

array([[-1.  ,  0.  , -1.  , -1.  ],
       [-2.75, -2.75,  0.25,  3.25],
       [-2.25,  3.75, -2.25, -2.25]])

In [92]:
XX = np.random.rand(*X.shape)
from sklearn.linear_model import LinearRegression
lr = LinearRegression(fit_intercept=False).fit(XX, Y_minus_products_means)
print(XX)

[[0.75392934 0.93363804 0.02310552 0.91782992]
 [0.36086434 0.62629728 0.60468062 0.03171122]
 [0.04300634 0.10552932 0.0841582  0.07343448]]

In [93]:
lr.predict(XX)

array([[-1.00000000e+00, -2.13162821e-14, -1.00000000e+00,
        -1.00000000e+00],
       [-2.75000000e+00, -2.75000000e+00,  2.50000000e-01,
         3.25000000e+00],
       [-2.25000000e+00,  3.75000000e+00, -2.25000000e+00,
        -2.25000000e+00]])

In [94]:
lr.coef_

array([[ 27.29645222,   1.62660233, -21.23096314, -24.63168963],
       [-59.13887079,  -8.01825022,  36.12259427,  55.82520372],
       [ 32.22330904,   3.59626662, -20.93231102, -30.68984468],
       [ 37.15016585,   5.56593091, -20.63365891, -36.74799973]])

In [97]:
XX.dot(lr.coef_.T)

array([[-1.00000000e+00, -2.13162821e-14, -1.00000000e+00,
        -1.00000000e+00],
       [-2.75000000e+00, -2.75000000e+00,  2.50000000e-01,
         3.25000000e+00],
       [-2.25000000e+00,  3.75000000e+00, -2.25000000e+00,
        -2.25000000e+00]])

In [98]:
XX

array([[0.75392934, 0.93363804, 0.02310552, 0.91782992],
       [0.36086434, 0.62629728, 0.60468062, 0.03171122],
       [0.04300634, 0.10552932, 0.0841582 , 0.07343448]])

In [99]:
R

array([[False,  True, False, False],
       [False, False,  True,  True],
       [False,  True, False, False]])

In [100]:
XX*R

array([[0.        , 0.93363804, 0.        , 0.        ],
       [0.        , 0.        , 0.60468062, 0.03171122],
       [0.        , 0.10552932, 0.        , 0.        ]])

In [101]:
lr_filt = LinearRegression(fit_intercept=False).fit(XX*R, Y_minus_products_means*R)

In [103]:
lr_filt.coef_

array([[0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.44826412, 0.        , 0.        ],
       [0.        , 0.        , 0.41230744, 0.02162261],
       [0.        , 0.        , 5.35999677, 0.28109388]])

In [85]:
X1d = np.array([1,2.5,3,7.6,10.2,15])[:,np.newaxis]
y1d = 3 + 2*X1d
lr1d = LinearRegression().fit(X1d,y1d)

In [87]:
lr1d.coef_, lr1d.intercept_

(array([[2.]]), array([3.]))

In [35]:
tmp[~scored_inds] = np.nan
tmp

array([[       nan,        nan,        nan,        nan],
       [       nan,        nan,        nan, 0.33919088],
       [       nan,        nan, 0.98279623, 0.66437247]])

In [42]:
theta = np.random.rand(*tmp.shape)
theta

array([[0.9209042 , 0.51099245, 0.15265583, 0.21024998],
       [0.53781806, 0.75405935, 0.00155555, 0.25793837],
       [0.78496357, 0.33826438, 0.11142428, 0.64792235]])

In [ ]:
Y = S.A

In [12]:
np.mean([1,2,3,4,5])

3.0

In [123]:
train_set_df = pd.read_csv("mercari-price-suggestion-challenge/train.tsv", sep='\t' )

In [31]:
train_set_df.iloc[0:200, :].to_csv("mercari-price-suggestion-challenge/train_small.csv", sep=',' )

In [34]:
len(train_set_df.iloc[0:200, :]['name'].unique())

200

In [17]:
len(train_set_df.category_name.unique())

1288

In [127]:
len(train_set_df.category_name.unique())

1288

In [149]:
print(len(train_set_df.name.unique()))
print(len(train_set_df))
print(len(train_set_df.category_name.unique()))

1225273
1482535
1288

In [141]:
def split_cat(text):
    try:
        return text.split("/")
    except:
        return ("No Label", "No Label", "No Label")

train_set_df['general_cat'], train_set_df['subcat_1'], train_set_df['subcat_2'] = \
    zip(*train_set_df['category_name'].apply(lambda x: split_cat(x)))
print(len(train_set_df['general_cat'].unique()))

print( train_set_df.head() )

11
   train_id                                 name  item_condition_id  \
0         0  MLB Cincinnati Reds T Shirt Size XL                  3
1         1     Razer BlackWidow Chroma Keyboard                  3
2         2                       AVA-VIV Blouse                  1
3         3                Leather Horse Statues                  1
4         4                 24K GOLD plated rose                  1

                                       category_name brand_name  price  \
0                                  Men/Tops/T-shirts        NaN   10.0
1  Electronics/Computers & Tablets/Components & P...      Razer   52.0
2                        Women/Tops & Blouses/Blouse     Target   10.0
3                 Home/Home Décor/Home Décor Accents        NaN   35.0
4                            Women/Jewelry/Necklaces        NaN   44.0

   shipping                                   item_description  general_cat  \
0         1                                 No description yet          Men
1         0  This keyboard is in great condition and works ...  Electronics
2         1  Adorable top with a hint of lace and a key hol...        Women
3         1  New with tags. Leather horses. Retail for [rm]...         Home
4         0          Complete with certificate of authenticity        Women

              subcat_1            subcat_2
0                 Tops            T-shirts
1  Computers & Tablets  Components & Parts
2       Tops & Blouses              Blouse
3           Home Décor  Home Décor Accents
4              Jewelry           Necklaces

In [151]:
from sklearn.preprocessing import OneHotEncoder
sub_df = train_set_df[['general_cat']]
sub_df.head()
enc  = OneHotEncoder().fit(sub_df)
one_hot_df = enc.transform(sub_df)
print(one_hot_df.A[:5,:])
print(one_hot_df.A[:5,:].shape)

[[0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1.]]
(5, 11)

In [144]:
print(sub_df.head())

   general_cat  shipping
0          Men         1
1  Electronics         0
2        Women         1
3         Home         1
4        Women         0

In [146]:
enc.get_feature_names()

array(['x0_Beauty', 'x0_Electronics', 'x0_Handmade', 'x0_Home', 'x0_Kids',
       'x0_Men', 'x0_No Label', 'x0_Other', 'x0_Sports & Outdoors',
       'x0_Vintage & Collectibles', 'x0_Women'], dtype=object)

In [102]:
import numpy as np
# import np.random
m = np.random.randint(0, 100, size=(5, 2, 3))
mm = np.random.randint(0, 100, size=(5, 2, 3))

In [104]:
m, mm

(array([[[45, 27, 42],
         [ 7, 36, 19]],

        [[ 3, 11, 46],
         [40, 60,  6]],

        [[34, 31, 42],
         [38, 27, 39]],

        [[73, 57,  3],
         [62, 67,  1]],

        [[15, 98,  6],
         [66, 88, 99]]]),
 array([[[ 3, 99, 56],
         [72, 46, 70]],

        [[68, 25,  5],
         [91, 72, 34]],

        [[12, 53,  2],
         [14,  7, 69]],

        [[89, 47, 13],
         [30,  4, 17]],

        [[47, 86, 28],
         [63, 80, 18]]]))

In [107]:
m*mm

array([[[ 135, 2673, 2352],
        [ 504, 1656, 1330]],

       [[ 204,  275,  230],
        [3640, 4320,  204]],

       [[ 408, 1643,   84],
        [ 532,  189, 2691]],

       [[6497, 2679,   39],
        [1860,  268,   17]],

       [[ 705, 8428,  168],
        [4158, 7040, 1782]]])

In [109]:
np.max(m*mm, axis=0)

array([[6497, 8428, 2352],
       [4158, 7040, 2691]])

In [112]:
A = np.array([[1,2,3], [4,5,6], [7,8,9], [1,1,1],[2,2,2]])
A

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [1, 1, 1],
       [2, 2, 2]])

In [113]:
m

array([[[45, 27, 42],
        [ 7, 36, 19]],

       [[ 3, 11, 46],
        [40, 60,  6]],

       [[34, 31, 42],
        [38, 27, 39]],

       [[73, 57,  3],
        [62, 67,  1]],

       [[15, 98,  6],
        [66, 88, 99]]])

In [116]:
m[:,0,1] = np.array[A[:,2], A[:,1], A[:0], A[:1]]
m

array([[[45,  3, 42],
        [ 7, 36, 19]],

       [[ 3,  6, 46],
        [40, 60,  6]],

       [[34,  9, 42],
        [38, 27, 39]],

       [[73,  1,  3],
        [62, 67,  1]],

       [[15,  2,  6],
        [66, 88, 99]]])

In [120]:
np.array([A[:,2], A[:,1], A[:,0], A[:1]])

array([array([3, 6, 9, 1, 2]), array([2, 5, 8, 1, 2]),
       array([1, 4, 7, 1, 2]), array([[1, 2, 3]])], dtype=object)

In [121]:
A

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [1, 1, 1],
       [2, 2, 2]])

In [123]:
B = np.copy(A)
B

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [1, 1, 1],
       [2, 2, 2]])

In [124]:
B[0,0] = 7
B

array([[7, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [1, 1, 1],
       [2, 2, 2]])

In [125]:
A

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [1, 1, 1],
       [2, 2, 2]])

In [126]:
C = A

In [127]:
C[0,0] = 9
A

array([[9, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [1, 1, 1],
       [2, 2, 2]])

In [70]:
kernel

array([0.01, 0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1 ])

In [72]:
np.arange(5,0,-1)/100

array([0.05, 0.04, 0.03, 0.02, 0.01])

In [85]:
kernel = np.arange(5,0,-1)/100
temp = kernel[:, np.newaxis].dot(np.arange(1,6)[np.newaxis, :])
print(temp)
temp.sum(axis=0)

[[0.05 0.1  0.15 0.2  0.25]
 [0.04 0.08 0.12 0.16 0.2 ]
 [0.03 0.06 0.09 0.12 0.15]
 [0.02 0.04 0.06 0.08 0.1 ]
 [0.01 0.02 0.03 0.04 0.05]]

array([0.15, 0.3 , 0.45, 0.6 , 0.75])

In [78]:
kernel[:, np.newaxis]

array([[0.05],
       [0.04],
       [0.03],
       [0.02],
       [0.01]])

In [80]:
np.arange(1,6)[np.newaxis, :].shape

(1, 5)

In [128]:
A

array([[9, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [1, 1, 1],
       [2, 2, 2]])

In [130]:
A[:,:,None].shape

(5, 3, 1)

In [89]:
b= [a]*3

[array([[1],
        [2],
        [3]]),
 array([[1],
        [2],
        [3]]),
 array([[1],
        [2],
        [3]])]

In [133]:
m = np.random.uniform( size=(5, 2))
m

array([[0.08210182, 0.81018534],
       [0.50012392, 0.65938366],
       [0.91461112, 0.35879139],
       [0.82010446, 0.37834646],
       [0.34617954, 0.78813178]])

In [135]:
m[m < 0.5]

array([0.08210182, 0.35879139, 0.37834646, 0.34617954])

In [138]:
tmp = np.array([1,2,3,4,5])

In [142]:
np.maximum(tmp,3)

array([3, 3, 3, 4, 5])

In [ ]:
np